*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.global-font {
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}
.nav-brand {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}
.navbar-links {
  text-decoration: none;
  font-weight: bold;
  color: rgb(179, 173, 173);
  font-size: 25px;
}
.about-page-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}
.about-intro-style {
  text-align: center;
}
.about-intro-style > h3 {
  font-weight: bolder;
  color: rgb(24, 28, 226);
  font-size: 3rem;

  margin-top: 1rem;
}
.about-intro-style > span {
  font-size: large;
  font-weight: 500;
}
.about-bg-color {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(173, 173, 200, 1) 46%,
    rgba(202, 232, 212, 1) 89%
  );
}
.nav-bg-color {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(173, 173, 200, 1) 46%,
    rgba(202, 232, 212, 1) 89%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.link-active-button {
  filter: brightness(5);
  border-radius: 15px;
  border: rgb(189, 192, 146) solid 2px;
  color: rgba(18, 17, 102, 0.548);
  box-shadow: rgba(5, 5, 56, 0.25) 0px 30px 60px -12px,
  rgba(107, 18, 18, 0.3) 0px 18px 36px -18px;
}
.link-active-button:hover {
  box-shadow: 4px 3px 3px 5px;
}

.interest-page-style {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-left:3rem
}

.framer-page {
  padding: 5rem;
}
.box {
  background-color:aqua;
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}
.disapearing-link {
  color: red;
  text-decoration: none;
  margin-bottom: 5px;
}

.cv-download {
  border: solid 2px black;
  padding: 8px;
  border-radius: 35px;
}